div#modal-content {
    border-radius: 10px;
}

.delete-review-form {
    width: 350px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 20px;
    text-align: left;
    border: solid 1px black;
    border-radius: 10px;
}

.yes-button {
    border: solid 1px black;
    font-weight: bold;
    width: 100%;
}

.no-button {
    background-color: rgb(110, 110, 110);
    border: solid 1px black;
    font-weight: bold;
    width: 100%;
}

.no-button:hover {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
