@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.manage-spots-page-container {
    position: relative;
    top: 65px;
}

.manage-spots-header {
    margin-left: 40px;
    margin-bottom: 5px;
}

.create-new-spot-button {
    margin-left: 40px;
    background-color: #FF5A5F;
    margin-bottom: 15px;
    border: none;
    padding: 7px 10px 7px;
    border: solid 1px black;
    border-radius: 5px;
}

.create-new-spot-button a {
    color: white;
    margin-right: 0;
}

.create-new-spot-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

a.update-spot {
    font-size: 12px;
    font-weight: bold;
}

.user-spots-container {
    max-width: 1200px;
    width: fit-content;
    padding: 20px 40px 20px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

@media (min-width: 1260px) {
    .user-spots-container {
        grid-template-columns: repeat(4, 270px);
    }
}

@media (max-width: 1259px) {
    .user-spots-container {
        grid-template-columns: repeat(3, 270px);
    }
}

@media (max-width: 969px) {
    .user-spots-container {
        grid-template-columns: repeat(2, 270px);
    }
}

@media (max-width: 669px) {
    .user-spots-container {
        grid-template-columns: repeat(1, 270px);
    }
}
