@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.hidden {
    display: none;
}

ul li {
    list-style: none;
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
}

.profile-dropdown li:hover {
    cursor: pointer;
}

li.no-hover:hover {
    cursor: default;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 20px;
    margin: 0;
}

.nav-container {
    width:100vw;
    position: fixed;
    top: 0;

    z-index: 2;

    padding: 15px 0px 15px;

    border-bottom: solid 1px gray;
    background-color: white;
}

.icon-logo {
    color: #FF5A5F;
    font-size: 25px;
}

.gogginn-logo {
    color: #FF5A5F;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.fa-mug-hot {
    margin-right: 5px;
}

.fa-bars {
    margin-right: 5px;
    margin-left: 5px;
}

.profile-button {
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 20px;
    height: 35px;
    width: 65px;
    border: solid 1px black;
    border-radius: 30px;
}

.profile-button:hover {
    cursor: pointer;
}

.profile-button i {
    font-size: 20px;
}

.manage-spots-container {
    padding: 5px 0px 5px;
    margin-bottom: 5px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.manage-spots {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.logout-button {
    color: white;
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 85px;
    border: solid 1px black;
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 30px;
}

.logout-button:hover {
    background-color: rgba(128, 128, 128, 0.733);
    cursor: pointer;
}

.create-new-spot {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.right-nav {
    display: flex;
}
