.hidden {
    display: none;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 20px;
}

.nav-container {
    width:100vw;
    padding-top: 10px;
    background-color: white;
    border-bottom: solid gray;
}

.icon-logo {
    color: #FF5A5F;
    font-size: 25px;
}

.gogginn-logo {
    color: #FF5A5F;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    margin-left: 5px;
}

.fa-bars {
    margin-right: 5px;
}

.profile-button {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 35px;
    width: 45px;
    border-radius: 45%;
}
